* {
    box-sizing: border-box;
    max-width: 1200px;
    margin:auto;
    font-family: monospace;
}

html {
    --color-primary-1: #8f3d58 ;/* Main Secondary color (1) */
    --color-secondary-1: #2b6597 ;/* Main Primary color */
    --color-complement-1a: #917543 ;/* Main Secondary color (2) */
    --color-complement-1b: #5a6722 ;	/* Main Complement color */
    --color-primary-2: #B34745;
    --color-secondary-2: #2c689c ;
    --color-complement-2a: #98a829 ;
    --color-complement-2b: #209e3d ;
    --color-background-1: #181818 ;
    --color-background-2: #444444 ;
    --color-background-3: #666666 ;
    --color-icon-background-1: white;
}

body {
    color: var(--color-complement-1a);
    background-color: var(--color-background-1);
    margin:auto;
    display:grid;
    grid-template-columns: 1fr;
    /* height:max-content; */
    /* grid-template-rows: 1fr 5fr 5fr 1fr; */
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#header {
  position: sticky;
  top:0vw;
  color: var(--color-complement-1a);
  /* width:100%; */
}

#topNav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  position: sticky;
  top: 0vw;
  /* z-index: 2; */
  height: 12vw;
  /* max-height: 150; */
  width:98vw;
}

#logo {
  animation-name: initLoad;
  animation-duration: 1s;
  max-width:42vw;
  max-height:10vw;
  /* margin: auto; */
  /* animation: fade-in-right ease 0.4s forwards; */
  /* animation: grow-left cubic-bezier(0.785,0.135,0.15,0.86) 0.5s forwards; */
}

#social {
  max-width: 840px;
  /* max-width: 42vw; */
  max-height: 10vw;
  margin: auto;
  /* float: center; */
  display: inline-flex;
  animation-name: initLoad;
  animation-duration: .5s;

}

.social-img:hover {
  filter: drop-shadow( 0px 0px 6px var(--color-background-3));

}

.social-img {
  /* width: 6vw; */
  max-width: 120px;
}

.social-btn {
  /* width:12vw; */
  /* max-width: 160px; */
  /* max-width: 2vw; */
  /* height:12vw; */
  /* max-height: 150px; */
  /* padding:3vw; */
  /* margin:.5vw; */
  font-family: monospace;
  /* font-size: 3vw; */
  /* font-weight: bold; */
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border: none;
  /* border-radius: 6vw; */
  line-height: 0;
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}

#organization {
  background-color: var(--color-background-1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content:start;
  z-index: 2;
  position: absolute;
  top: 12vw;
  font-size: 1em;
}

.information {
  text-align:start;
  margin-right:10vw;
  margin-left:20vw;
  max-width:65vw;
  font-size: 1.25em;
}

h3.information {
  /* padding-bottom: 3vw; */
}

#rhizome {
  background-color: var(--color-background-1);
  margin-left: 1vw;
  font-size: 1em;/**********************************
  /* width: 20vw; */
}

#rhizome-content {
  background-color: var(--color-background-1);
  /* margin:auto; */
  align-items: start;
  justify-content:start;
  /* display:inline-block; */
  font-size: 1em;
  position: fixed;
  left:18vw;
  top:12vw;
  justify-items: flex-start;
  vertical-align: top;
  /* width:48vw; */
}

.rhizome-btn {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  width:12vw;
  height:7vw;
  /* min-width: 12vw; */
  /* min-height: 12vw; */
  /* padding:1vw; */
  margin-left:auto;
  margin-right:auto;
  font-family: monospace;
  font-size: 1em;/***/
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  /* border-radius: 8vw; */
  list-style-type:none;
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}
.rhizome-btn-active {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  width:12vw;
  height:7vw;
  /* padding:1vw; */
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  /* border-radius: 6vw; */
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}
.rhizome-btn:hover {
    /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}
.rhizome-ul {
  list-style-type:none;
  /* float:left; */
  /* margin:0; */
  padding:.7vw;
  /* display:block; */
  /* position:relative; */
  /* align-items:start; */
  /* filter: none; */
  font-size: 1em;

}

#viewShare {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  margin-left: 1vw;
  /* justify-content:flex-end; */
  z-index: 2;
  /* position: absolute;
  bottom: 9vw;
  right:2vw; */
}

#views {
  display: grid;
  position: absolute;
  bottom: 9vw;
  left:2vw;
  background-color: var(--color-background-1);
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

.viewlist-btn {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content:center; */
  width:100%;
  height:12vw;
  max-height:50px;
  /* min-width: 12vw; */
  /* min-height: 12vw; */
  /* padding:1vw; */
  margin-left:auto;
  margin-right:auto;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  /* border-radius: 8vw; */
  /* list-style-type:none; */
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}

.viewlist-btn-active {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  width:12vw;
  height:7vw;
  /* padding:1vw; */
  font-family: monospace;
  font-size: 3vw;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  /* border-radius: 6vw; */
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

.viewlist-btn:hover {
    filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}
.viewlist-ul {
  list-style-type:none;
  /* float:left; */
  /* margin:0; */
  padding:.7vw;
  /* display:block; */
  /* position:relative; */
  /* align-items:start; */
  /* filter: none; */
  font-size: 1em;

}

.fallingwater-btn {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  /* width:12vw; */
  /* height:12vw; */
  /* padding:1vw; */
  font-family: monospace;
  font-size: 3vh;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  line-height:0;
  /* border-radius: 6vw; */
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}

.fallingwater-btn-active {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  /* width:12vw;
  height:12vw; */
  /* padding:1vw; */
  font-family: monospace;
  font-size: 3vw;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  /* border-radius: 7vw; */
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

.fallingwater-btn:hover {
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

#main,#ocafComponents,#modelSummary  {
  text-align: center;
  padding-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
  max-width: 94vw;
  min-height: calc(100vh - 21vw);
}

#footer {
  /* width: 100vw; */
  /* display: grid; */
  /* grid-template-rows: fr 1fr; */
  height:9vw;
  position: sticky;
  bottom:0vw;
  color: var(--color-complement-1a);
}

#bottomNav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width:98vw;
  position: sticky;
  bottom:0vh;
  height:9vw;
  background-color: var(--color-background-1);
}

#browse {
  display:flex;
  font-size: 1.4em;
  line-height: 0;
}



#modal {
  display: grid;
  /* justify-content:end; */
  z-index: 1;
  /* float: right; */
  /* justify-self: end; */
  /* grid-template-rows: 1fr 3fr 1fr; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-auto-columns:auto; */
  /* justify-items: end; */
  /* align-items: end; */
  /* background-color: var(--color-background-1); */
  /* border-color: var(--color-complement-1a); */
  /* border-width: 10px; */
  position: absolute;
  bottom: 9vw;
  right:2vw;
  /* max-width: 500px; */
  /* left: 100vw; */
  /* width:50vw; */
  /* height:36vw; */
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}

.modal-content {
  display:grid;
  /* justify-content: end; */
  grid-template-rows: 1fr 4fr 1fr;
  border-width: 2pt;
  /* grid-template-columns: 1; */
  /* max-width: 60vw; */
  position:relative;
  /* bottom:6vw; */
  margin-right:0vw;
  background-color: var(--color-background-1);
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

.modal-title {
  font-size: 1em;
}

.modal-header {
  display:grid;
  justify-content: end;
  grid-template-columns: 1fr 5fr 1fr;
  /* justify-content: space-between; */
  font-size: 16pt;
  /* height: 8vw; */
  /* bottom:12vw; */
  /* height:50vw; */
  background-color: var(--color-background-1);

}

.modal-body {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-right:1vw; */
  /* justify-items: stretch; */
  justify-content: space-between;
  /* align-items: baseline; */
  /* height: 8vw; */
  line-height: 0;
  background-color: var(--color-background-1);
  vertical-align: text-top;
}

.modal-footer {
  display:grid;
  justify-content: space-between;
  grid-template-columns: 3fr 1fr;
  font-size: 16pt;
  /* overflow: hidden; */
  /* height: 8vw; */
  background-color: var(--color-background-1);
}

.modal-icons {
  /* display: flex; */
  margin-right:2vw;
  margin-left:2vw;
  /* width:15vw; */
  /* display:inline-flex; */
  /* width: 80px; */
}


.map {
  display: flex;
  /* width:650px; */
  /* width: 100vw; */
  max-width: 90vw;
  padding-top: 5vw;
}



.chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 100vw; */
  max-width: 100vw;
  margin-left:5vw;
  margin-right:5vw;
  /* height: 100vw; */
  /* padding-top: 2vw; */
  /* max-height:300px */
}


#histogram {
  display: flex;
  justify-content: right;
  margin-right: 5vw;
  /* align-items: right; */
  /* height:6vw; */
  /* height: 280px; */
  /* max-width: 63vw; */
  /* max-height: 63vw; */
  overflow: visible;
  /* margin-left:25vw; */
}

#linegraph {
  display: flex;
  justify-content: right;
  /* align-items: right; */
  /* height:6vw; */
  /* height: 280px; */
  max-width: 50vw;
  /* max-height: 63vw; */
  overflow: visible;
  /* margin-left:25vw; */
}

.scalebar {
  display: flex;
  justify-content: left;
  align-items:  left;
  /* margin: auto; */
  /* width: 100vw; */
  height: 280px;
  width:60px;
  /* max-width: 6vw; */
  max-height:300px;
  overflow: visible;
}

#scalebar {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 280px;
  width:60px;
  /* max-width: 6vw; */
  /* max-height: 10vh; */
  overflow: visible;
}

.nameBar {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: auto; */
  /* width: 100vw; */
  /* max-width: 100vw; */
  height: 300px;
}

#nameBar {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 1vw; */
  height: 300px;
  /* max-width: 100vw; */
  /* max-height: 10vh; */
  overflow: visible;
}

.state:hover {
  fill-opacity: 90%;

}

.controls {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 5vw;
  /* width: 100vw; */
  max-width: 100vw;
  /* margin-left:5vw; */
  /* height:10vw; */
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height:6vw;
  width: 54vw;
  max-width: 100vw;
  /* margin-left:5vw; */
  /* max-height: 10vh; */
}


.dials {
  margin: 1vw;
  text-align: center;
  padding: 2vw;
  /* display:grid; */
  max-width:50vw;
  /* align-items: center; */
  /* grid-template-rows: 1fr 1fr; */
  line-height: 1.5;
  /* font-size: 1.2em; */
}

.main>div.dials {
  /* padding: 2vw; */
  text-align: center;
  /* display:grid; */
  /* width:25vw; */
  /* align-items: center; */
  /* grid-template-rows: 1fr 1fr; */
  /* line-height: 1.5; */
}


#share {
  margin:auto;
}

.share-btn {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  max-width:12vw;
  max-height:6vw;
  /* padding:1vw; */
  font-family: monospace;
  font-size: 3vh;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  line-height:0;
  border-radius: 6vw;
  /* filter: drop-shadow( 0px 0px 3px var(--color-background-3)); */
}

.share-btn-active {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  /* width:12vw;
  height:12vw; */
  /* padding:1vw; */
  font-family: monospace;
  font-size: 3vw;
  font-weight: bold;
  color: var(--color-complement-1a);
  background-color: var(--color-background-1);
  border:none;
  border-radius: 7vw;
  filter: drop-shadow( 0px 0px 3px var(--color-background-3));
}

.share-img {
  max-height:12vw;
  width:12vw;
  max-width: 80px;
  max-height: 80px;
  line-height: 0;
}

.share-img:hover {
  filter: drop-shadow( 0px 0px 4px var(--color-background-3));
}

#urlInput {
  font-size: 16pt;
  /* width:320px; */
}

#urlCopy {
  font-size: 16pt;
  /* width: 20px; */
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* CHOROPLETH MAP */
/*  */
/*  */


  



/* FEATURE VIEW */
/*  */
/*  */
#goButton {
  width:48pt;
  height:32pt;
  font-size: 24pt;
  line-height: 0;
}

.title {
  text-align: center;
}

.feature {
  display: grid;
  grid-template-columns: 1;
  /* grid-template-columns: 3fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  top: 12vw;
  padding-bottom: 9vw;
  padding-top: 5vw;
  /* bottom: 12vw; */
  z-index:0;
}

.graphic {
  display: grid;
  grid-template-columns: 1;
  margin: auto;
}

.main {
  display: flex;
  align-content: start;
  vertical-align: text-top;
  /* grid-template-columns: 40vw 60vw; */
  margin: 2vw;
  padding: 2vw;
}

.main>div>h1 {
  color: var(--color-primary-1)
}


.narrative {
  padding: 2vw;
  margin-right: 10vw;
  margin-left: 10vw;
  text-align:center;
  vertical-align: start;
  font-size: 1em;
}

.narrative>h1 {
  font-size:1.2em;
}

.greek {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 2fr; */
  width:50vw;
}

.greek>img {
  max-width: 25px;
}

@keyframes initLoad{
  0%{
    opacity: 0;
  }
  25%{
    opacity: .25;
  }
  50%{
    opacity: .50;
  }
  75%{
    opacity: .75;
  }
  100%{
    opacity: 1;
  }
}
