<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property='og:title' content='New Title'/>
    <meta property='og:image' content='./src/assets/rhizomatic_220511.svg'/>
    <meta property='og:description' content='New Description'/>
    <meta property='og:url' content='https://rhizomatic.app'/>
    <meta property='twitter:title' content='New Title'/>
    <meta property='twitter:image' content='./src/assets/rhizomatic_220511.svg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="author" content="Rhizomatic LLC">
    <meta name="publish_date" property="og:publish_date" content="2022-06-24T00:00:00-0000">
    <link rel="icon" href="/favicon.ico" />
    <title>New Project</title>
  </head>
  <body>
    <div>
      <p>Rhizomatic</p>
    </div>
    <div id="app"></div>
    <script href="{% static 'scripts\svg-app.js' %}"></script>
  </body>
</html>
