<!DOCTYPE html>
<html>
    <head>
        <title>CLUE Research</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="keywords" content="Specifies a comma-separated list of keywords - relevant to the page (Informs search engines what the page is about)."> -->
        {% load static %}
        <meta property="og:url" content="http://www.clueresearch.com/tableau" />
        <meta property="og:title" content="CLUE/tableau" />
        <meta property="og:description" content="CLUE Research Tableau Cloud Login" />
        <meta property="og:image" content="{% static 'main.png' %}"/>
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css"/>
    </head>
    <body>
        <div class="fallingwater">
            <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
            <div class='tableauPlaceholder' style='width: 1300px; height: 927px;'>
                <object class='tableauViz' width='1300' height='927' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='&#47;t&#47;clueresearch' />
                    <param name='name' value='TheStateoftheChicagoFHVIndustry-2022&#47;TheStateoftheChicagoFor-HireVehicleFHVIndustry2022' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                    <param name='showAppBanner' value='false' />
                </object>
            </div>
        </div>
    </body>
</html>
