<!DOCTYPE html>
<html>
    <head>
        <title>CLUE Research</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="keywords" content="Specifies a comma-separated list of keywords - relevant to the page (Informs search engines what the page is about)."> -->
        {% load static %}
        <meta property="og:url" content="http://www.clueresearch.com/taxi" />
        <meta property="og:title" content="CLUE/taxi" />
        <meta property="og:description" content="CLUE Research Taxi Test Page" />
        <meta property="og:image" content="{% static 'main.png' %}"/>
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css"/>
    </head>
    <body>
        <div class="fallingwater">
            <p>hello world</p>
            {% if johnny %}
                <ul>
                {% for item in johnny %}
                    <li>{{ item.interval }}</li>
                {% endfor %}
                </ul>
            {% lorem 10 p %}
            {% else %}
            <p>No data available.</p>
            {% endif %}
        </div>
    </body>
</html>
